{
  "extends": ["eslint:recommended", "prettier"],
  "env": {
		"node": true,
		"es6": true
	},
  "parserOptions": {
		"ecmaVersion": 2023,
    "sourceType": "module"
	},
  "plugins": [
    "import",
    "simple-import-sort",
    "sort-destructure-keys",
    "sort-keys-fix"
  ],
  "rules": {
    "import/extensions": ["error", "ignorePackages"],
    "no-console": "off",
    "no-plusplus": "off",
    "no-underscore-dangle": "off",
    "simple-import-sort/imports": "error",
    "sort-destructure-keys/sort-destructure-keys": "error",
    "sort-keys-fix/sort-keys-fix": ["error", "asc", { "natural": true }]
  }
}
